.all{
  display: block;
  justify-content: baseline
  ;
  /* display:block; */
}

.box{
  width:3em;
  height: 3em;
  border: 1px;
  border-color: black;
}

.boxes{
  float: left;
  display: flex;
  gap:1em;
  height:10%;
}

.box3{
  float: left;
  display: flex;
  gap:1em
}

.box1{
  width:3em;
  height: 3em;
  border: 1px;
  border-color: black;
  background-color: grey;
  cursor: pointer;
  margin: 0.5rem;
}

.box2{
  width:3em;
  height: 3em;
  border: 1px;
  border-color: black;
  background-color: lightgrey;
  cursor: pointer;
  margin: 0.5rem;
}

.header{
  display: flex;
  flex-direction: row;
  justify-content: end;
  height: 10%;
  width: 100%;
}
